# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Flatpak build artifacts
.flatpak-builder/
_build/
flatpak-build/
build/
build-dir/
repo/
*.flatpak

# IDE ve sistem dosyaları
.vscode/
.idea/
.DS_Store
