# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Flatpak derleme klasörleri
.flatpak-builder/
_build/
flatpak-build/
repo/

# IDE ve Sistem Dosyaları
.vscode/
.idea/
.DS_Store
.flatpak-builder/
build-dir/
repo/
__pycache__/
*.flatpak
*.spec
